<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RemoteInstallConfig" type="RemoteInstall.RemoteInstallConfig, RemoteInstall" />
  </configSections>
  <RemoteInstallConfig>
    <copyfiles>
      <copyfile file="${var.temp}*\testFile" destpath="C:\Test\" when="beforeall"
              destination="toVirtualMachine" includeInResults="false" />
    </copyfiles>
    <installers destpath="C:\">
      <installer file="${var.msi}" name="Sample Installer" />
    </installers>
    <virtualmachines>
      <!-- a virtual machine without snapshots: this simply runs the tests on a previously powered vm -->
      <virtualmachine
        type="Workstation"
        file="F:\My Virtual Machines\ddoub-green\winnetenterprise.vmx"
        name="Windows XP Pro SP2 (English)">
        <snapshots>
          <snapshot name="*" username="Administrator" password="admin123" />
        </snapshots>
      </virtualmachine>
    </virtualmachines>
  </RemoteInstallConfig>
</configuration>
