<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RemoteInstallConfig" type="RemoteInstall.RemoteInstallConfig, RemoteInstall" />
  </configSections>
  <RemoteInstallConfig>
    <installers destpath="C:\" sequence="${var.sequence}">
      <installer file="${var.root}\Samples\Sample1.msi" name="Sample Installer" />
      <installer file="${var.root}\Samples\Sample2.msi" name="Sample Installer" />
    </installers>
    <virtualmachines>
      <!-- a virtual machine without snapshots: this simply runs the tests on a previously powered vm -->
      <virtualmachine
        type="Workstation"
        file="F:\My Virtual Machines\ddoub-green\winnetenterprise.vmx"
        name="Windows XP Pro SP2 (English)">
        <snapshots>
          <snapshot name="*" username="Administrator" password="admin123" />
        </snapshots>
      </virtualmachine>
    </virtualmachines>
  </RemoteInstallConfig>
</configuration>
