<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RemoteInstallConfig" type="RemoteInstall.RemoteInstallConfig, RemoteInstall" />
  </configSections>
  <RemoteInstallConfig>
    <installers destpath="C:\" sequence="lifo">
      <installer
        file="Samples\Sample.msi"
        name="@{snapshot.installargs}" />
    </installers>
    <virtualmachines>
      <virtualmachine type="Workstation" file="vm1.vmx" name="VM1">
        <snapshots>
          <snapshot name="S1" installargs="VM1.S1" />
          <snapshot name="S2" installargs="VM1.S2" />
        </snapshots>
      </virtualmachine>
      <virtualmachine type="Workstation" file="vm2.vmx" name="VM2">
        <snapshots>
          <snapshot name="S1" installargs="VM2.S1" />
          <snapshot name="S2" installargs="VM2.S2" />
        </snapshots>
      </virtualmachine>
    </virtualmachines>
  </RemoteInstallConfig>
</configuration>
